.welcome {
    background-color: var(--bg-primary);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome h1{
    text-align: center;
}
@media (max-width: 768px){
    .welcome h1 {
        font-size: 23px;
    }
}

.trainers .trainer {
    width: 100%;
    min-height: 350px;
    padding: var(--spacing-small);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: calc(2 * var(--spacing-xl));
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .trainers .trainer-container{
    padding-bottom: var(--spacing-large);
    display: flex;
    flex-wrap: wrap;
 }
 .trainers .container .grid{
    padding: var(--spacing-medium) var(--spacing-small);
 }
 .trainers .trainer-wrapper
 {
    width: 25%;
    padding: 0 var(--spacing-small);
 }
 
.trainers img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
}

.trainers .image-wrapper{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -70px;
}

.trainers h3{
    width: 100%;
    font-size: var(--fs-large);
    font-weight: 400;
    text-align: center;
    background-color: var(--bg-primary);
    border-radius: 5px;
    padding: var(--spacing-tiny);
    margin-bottom: var(--spacing-medium);
    margin-top: -25px;
    z-index:1;
    opacity: 0.9;
}
.trainers h3{
    color: var(--text-secondary);
}
@media (max-width: 992px){
.trainers .trainer-wrapper{
    width: calc(100% / 3);
}
}
@media (max-width: 768px){
    .trainers .trainer-wrapper{
        width:50%;
    }
}
@media (max-width: 576px){
    .trainers .trainer-wrapper{
        width:100%;
    }
}
.trainer img:hover {
    filter: grayscale(0);
}